@font-face {
  font-family: 'Comfortaa';
  src: url(./Fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa';
  box-sizing: border-box;
}

hr {

  width: 90%;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-thumb {
  background-color: #303e7c;    
  border-radius: 10px;      
  border: 3px solid white;
}
