@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
  box-sizing: border-box;
}

hr {

  width: 90%;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: transparent;       
}

body::-webkit-scrollbar-thumb {
  background-color: #303e7c;    
  border-radius: 10px;      
  border: 3px solid white;
}
